@import "../colors";

.wrapper {
  width: 380px;
  margin: 50px auto;
  background-color: $common-bg;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid $primary;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-gap: 10px;
}

.display {
  height: 80px;
  font-size: 22px;
  border: 2px solid $primary;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
  word-break: break-all;
}
