$primary: #00796b;
$secondary: #ff8f00;
$primary-light: #48a999;
$secondary-light: #ffc046;
$primary-dark: #004c40;
$secondary-dark: #c56000;

$primary-text: #ffffff;
$secondary-text: #000000;
$primary-light-text: #000000;
$secondary-light-text: #000000;
$primary-dark-text: #ffffff;
$secondary-dark-text: #000000;

$common-bg: #f1f1f1;
